<app-page-animation></app-page-animation>

<div class="gap"></div>

<div class="generic-cont op-black">

    <app-back-button-for-names></app-back-button-for-names>

    <div class="gen-title-margin">

        <h1 class="gen-title text-center text">Served Today</h1>
        <p class="gen-subtitle text-center text">Where Ideas Meet Execution</p>

        <br>

        <div class="text">

            <h3 class="head-body-avg">
                Project
            </h3>

            <h4 class="body-avg">
                Name a tech company.
            </h4>


            <div class="gap"></div>


            <h3 class="head-body-avg">
                Value
            </h3>

            <h4 class="body-avg">
                The team is comprised mostly of speed coders determined to deliver projects <span
                    class="highlight highlight-italic w-to-b-text"><i>fast</i></span>. They provide Products,
                services and consultations.
            </h4>


            <div class="gap"></div>


            <h3 class="head-body-avg">
                For
            </h3>

            <h4 class="body-avg">
                Startups & established tech companies.
            </h4>


            <div class="gap"></div>


            <h3 class="head-body-avg">
                Name
            </h3>

            <h4 class="body-avg">
                Serve as in hosting servers serve webpages.
                <br>
                Symbolizes <span class="highlight highlight-italic w-to-b-text"><i>speed</i></span> with word
                association.
            </h4>

            <div class="gap"></div>

            <h3 class="head-body-avg">
                Tagline
            </h3>

            <h4 class="body-avg">
                Symbolizes startup expertise in the distinguished image of the brand.
            </h4>

        </div>

    </div>

    <div class="gap-block"></div>

</div>