<div class="gap"></div>

<div class="portfolio-cont">

    <div class="port-head">
        <div class="gen-title-margin text-center">
            <h1 class="gen-title text">Nomenclature</h1>
            <p class="gen-subtitle text">The Art & Science of Naming</p>
        </div>
    </div>

    <div class="port-body">

        <div class="flip-card">
            <div class="flip-card-inner">

                <div class="flip-card-front">
                    <h1 class="flip-title text-light">Semantic Requirements</h1>
                </div>

                <div class="flip-card-back">
                    <h4 class="flip-body text-light">
                        Study of meaning in language
                    </h4>
                </div>

            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">

                <div class="flip-card-front">
                    <h1 class="flip-title text-light">Research-based methods for increased Memorability </h1>
                </div>

                <div class="flip-card-back">
                    <h4 class="flip-body text-light">
                        [Details, To Be Added]
                    </h4>
                </div>

            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">

                <div class="flip-card-front">
                    <h1 class="flip-title text-light">Auditory Specifications</h1>
                </div>

                <div class="flip-card-back">
                    <h4 class="flip-body text-light">
                        [Details, To Be Added]
                    </h4>
                </div>

            </div>
        </div>

    </div>

    <!-- Learn More -->
    <div class="gen-title-margin text-center">
        <a class="custom-link center" [routerLink]="['/nomenclature']">
            <h2 class="gen-title under-line text-light">Learn More</h2>
        </a>
    </div>

    <div class="gap-block"></div>

</div>