<div class="gap"></div>

<div class="nav-bg"></div>
<div class="generic-cont generic-cont-blog">

    <app-back-button-for-blogs></app-back-button-for-blogs>

    <div class="gen-title-margin text text-center">
        <h1 class="gen-title">
            Renaming of Pak PMO’s YouTube channel to Imran Khan
        </h1>
    </div>

    <div class="blog-body text">

        Recently, the YouTube channel of the Pakistan’s Prime Minister's Office (PMO) was renamed to Imran Khan. Due to
        the rename, the verified tick of the channel was lost. The rename has raised many questions among people.

        <br><br>
        The YouTube channel was created in 2019, a year after Khan was elected to office. It currently has over 150K
        followers. Videos of Imran Khan’s speeches and activities can be found on the channel.
        <br><br>

        If we look at it from a rebranding perspective, the rename is a smart move. Khan is very popular and each of his
        other social media accounts have over 10M+ followers. This rename is sure-fire way to gain more audience for the
        YouTube channel.

        <br><br>

        <p class="published">
            Published on 27/Mar/22
        </p>

    </div>

    <div class="gap"></div>
    <div class="gap"></div>

</div>