<app-page-animation></app-page-animation>

<div class="gap"></div>

<div class="generic-cont">

  <div class="gen-title-margin">

    <h2 class="text-center text">
      11 Confidential Projects for Agencies in the following Industries
    </h2>

    <div class="gap"></div>

    <div class="text">

      <h3 class="head-body-avg">
        Tech Startups
      </h3>

      <h4 class="body-avg">
        Web/Mobile App, AI, AR/VR, Computer Graphics / VFX, Computer Vision, 3D Printer Hardware.
      </h4>

      <div class="gap"></div>


      <h3 class="head-body-avg">
        Textile Startups
      </h3>

      <h4 class="body-avg">
        Bed & Bath, Socks.
      </h4>


      <div class="gap"></div>

      <div class="flex-1">

        <h3 class="head-body-avg f-c">
          Finance Audit
        </h3>

        <h3 class="head-body-avg f-c">
          Journalism
        </h3>

      </div>
    </div>
  </div>

  <div class="gap-block"></div>

</div>
