<div class="gap" id="names"></div>

<div class="generic-cont">

  <div class="flex-box-c gen-title-margin text-center">

    <h1 class="gen-title text">Names</h1>
    <p class="gen-subtitle text"><span class="small-caps">aka</span> Portfolio</p>

    <h3 class="spaced text">
      <br>
      11 confidential projects for different agencies in the following industries
    </h3>

  </div>

  <div class="flex-box-c gen-title-margin two-flex text">

    <h4>
      <br>

      Tech Startups
      <br>
      <h5>Web/Mobile App, AI, AR/VR, Computer Graphics / VFX, Computer Vision, 3D Printer Hardware.</h5>

      <br>

      Finance Startup
      <br>
      <h5>Audit.</h5>

      <br>

      Textile Startups
      <h5>Bed & Bath, and Socks.</h5>
    </h4>
  </div>


  <div class="gap-block"></div>

</div>
