<app-page-animation></app-page-animation>

<div class="gap"></div>

<div class="nav-bg"></div>
<div class="generic-cont">

    <div class="blog-back-btn blg-bk-btn-tp text">
        <a class="custom-link text-light" [routerLink]="['/insights']">
            <- Blogs </a>
    </div>
    <div class="blog-back-btn blg-bk-btn-btm text">
        <a class="custom-link text-light" [routerLink]="['/insights']">
            <- Blogs </a>
    </div>


    <div class="gen-title-margin text-center">
        <h1 class="gen-title text">What's in a Brand Name?</h1>
        <h5 class="gen-body text">
            Values. Values refer to the qualities that a name has or exhibits.
        </h5>
        <p class="body-shortened text">Note: This article is based findings from multiple research studies and
            my own
            inferences.</p>
    </div>

    <div class="blog-body text">

        Brand names can be more than just unique and meaningful. There are
        different values/qualities that you can have in a brand name.
        <br><br>
        Values of names are different than types of names but both concepts are mutually inclusive.
        Values refer to the qualities that a name has or exhibits and I'll be explaining values in this blog.
        You can easily
        find <i>'types of names'</i> blogs everywhere, literally every branding site has the same one.
        <br><br>
        What makes values important is that they can set the brand perception, and if executed well, they can be
        good for marketing.
        <br><br><br>

        <b class="blog-sub-head">1) Hard Suggestive of Service / Solution</b><br>
        This value explains exactly what the company does.
        <br>
        These names are words from the English language and can be compound.
        <br>
        While these work great for describing the work that the company does, they are drowned out by noise on
        search
        engines.
        <br><br>
        Some examples of names with this value are American Airlines, Hotels, Home Depot.
        <br><br><br>

        <b class="blog-sub-head">2) Soft Suggestive of Service / Solution</b><br>
        This value also explains exactly what the company does but it's more subtle.
        <br>
        These can be a complex combination of words or words just stitched together. These names can also be
        composed of
        non-English words.
        <br><br>
        Duolingo is a great example of this.
        <br><br><br>

        <b class="blog-sub-head">3) Eponymous</b><br>
        Eponymous means that the name is derived from a person’s name, mostly from the founder or a historical
        figure,
        or even fictional characters. These brands are named out of ego or laziness.
        <br><br>
        Everyone knows Tesla is named after Nikola Tesla, but it's a lesser known fun fact that Dell is named
        after the
        founder Michael Dell.
        <br>
        Other companies that have eponymous names are: Louis Vuitton, Disney, Adidas, Toyota, Starbucks,
        Burberry.
        <br><br>
        These names can provide you with value in recognition. If you have done extraordinary work and are known
        for it,
        the same can be directly associated your brand.
        <br><br><br>

        <b class="blog-sub-head">4) Call to Action</b><br>
        This value is a sub-category of Hard Suggestive of Service / Solution.
        It refers to having a call-to-action right in the name.
        <br>
        As with Hard Suggestive, while these work great for describing what the company does, they are drowned
        out by
        noise on search engines.
        <br><br>
        Examples are Get Tickets, Get Advice.
        <br><br><br>


        <b class="blog-sub-head">5) Speech Perception</b><br>
        This value allows your brand Identity to be reflected in the auditory perception of the name. This is
        achieved
        by
        utilizing the power of phonetics.
        <br><br>
        The effect of these names is subliminal. When people read/hear these names, they subconsciously
        attribute them
        to
        masculine/feminine, big/small, light/heavy, fast/slow, cheap/expensive, abundant/scarce and many more
        depending
        on
        the speech pattern of the name.
        These connotations relate to the idea, not the feeling. They are effective in 80% of the most common
        languages.
        <br><br>
        In the name types, this value is termed abstract names.
        <br>
        Famous examples are Rolex, and Kodak.
        <br><br><br>


        <b class="blog-sub-head">6) Increased Memorability</b><br>
        Some names are considerably more memorable than others. There are many models one can use to judge the
        name
        memorability, semantic, syntactic, speech perception.
        <br><br>
        Research on some of these is solid while with others, theanswers are still not clear.
        <br><br>
        I would give some examples but they vary depending on the model used to calculate memorability.
        <br><br><br>


        <b class="blog-sub-head">7) Connotation</b><br>
        This value refers to the qualitative features that names can have. These are evaluated by testing each
        name.
        <br>
        The connotation in this relates to the feeling, not the idea.
        <br><br>
        Examples are Served Today which feels welcoming.
        <br><br><br>


        <b class="blog-sub-head">
            So what's in a brand name?
            <br>
            All qualities that you can generate in it.
        </b>


    </div>

    <div class="gap"></div>
    <div class="gap"></div>

</div>