<app-page-animation></app-page-animation>

<div class="gap"></div>

<div class="generic-cont op-black">

    <app-back-button-for-names></app-back-button-for-names>

    <div class="gen-title-margin">

        <h1 class="gen-title text-center text">Duft Und Du</h1>
        <p class="gen-subtitle text-center text">Fragrance & You</p>

        <br>

        <div class="text">

            <h3 class="head-body-avg">
                Project
            </h3>

            <h4 class="body-avg">
                Name a AI-Powered Personalized Fragrance Reviewing Web-app.
            </h4>


            <div class="gap"></div>


            <h3 class="head-body-avg">
                Value
            </h3>

            <h4 class="body-avg">
                Helping people in finding fragrances that meet their expectations and suit them.
            </h4>


            <div class="gap"></div>


            <h3 class="head-body-avg">
                For
            </h3>

            <h4 class="body-avg">
                People and Fragrance Stores.
            </h4>


            <div class="gap"></div>


            <h3 class="head-body-avg">
                Name & Tagline
            </h3>

            <h4 class="body-avg">
                The name is in German, that translates to the tagline, <span
                    class="highlight w-to-p-text">Fragrance</span> &
                <span class="highlight w-to-r-text">You</span>.
                It symbolizes <span class="highlight w-to-r-text">personal connection</span> of people and <span
                    class="highlight w-to-p-text">fragrances</span>.
            </h4>


            <div class="gap"></div>


            <h3 class="head-body-avg">
                Design
            </h3>

            <h4 class="body-avg">
                Fragrance & You quite literally
            </h4>


            <div class="gap"></div>


            <h3 class="head-body-avg">
                Design Pic
            </h3>

            <h4 class="body-avg center">
                <img class="image" src="/assets/images/case-studies/design-duft-und-du-edited.jpg"
                    alt="Same as caption. UI design depicting a horizontal split, with fragrance details on the right and personal fragrance scores including longevity, suitability and heat impact on the left.">
                <br><br>
                UI design depicting a horizontal split, with fragrance details including accords and notes on the right
                and
                personal fragrance scores including longevity, suitability and heat impact on the left.
            </h4>

        </div>

    </div>

    <div class="gap-block"></div>

</div>