<div class="gap"></div>

<div class="nav-bg"></div>
<div class="generic-cont generic-cont-blog">

    <app-back-button-for-blogs></app-back-button-for-blogs>

    <div class="gen-title-margin text text-center">
        <h1 class="gen-title">.au Direct Domain</h1>
        <h5 class="gen-body">
            .au direct domain names, e.g., domain.au, getyour.au, etc. – are available as a new option for Internet
            users from March 2022.
        </h5>
    </div>

    <div class="blog-body text">

        .au direct domain extension is general purpose. Anyone with a verified connection to Australia can get it to
        manage their online presence for themselves or their organization.
        <br><br>
        If you already hold a domain name in any other .au namespace, e.g., com.au, org.au, etc. you can apply for
        Priority Status to register the exact match in .au direct. However, the Priority Status is only available for
        the first six months from launch.
        <br><br>
        To check your priority category and/or see if there are other registrants eligible for the .au direct name you
        seek, you can use
        <a target="_blank" href="https://www.auda.org.au/tools/priority-status-tool" rel="noopener">auDA’s Priority
            Status Tool</a>.
        <br><br>
        Popular domain registrars have already enabled purchase of au direct. You can try your favorite registrar to get
        it.
        <br><br>
        Many Australians are referring to it as a money grab, whilst domainers seem quite happy.
        <br><br>
        Now that au direct is here, it is a small price to pay to secure your brand if you are already using au
        namespace.

    </div>

    <div class="gap"></div>
    <div class="gap"></div>

</div>