<div class="gap" id="testimonials"></div>

<div class="generic-cont">

    <div class="gen-title-margin text-center">
        <h1 class="gen-title text">Testimonials</h1>
        <h4 class="body-shortened text">
            The satisfied clients always leave positive reviews.<br>
            Read what our unsatisfied clients have to say about us.
        </h4>

        <div class="gap"></div>

        <h4 class="body-shortened text top-bord">
            <div class="bord">
                <i>
                    Prompt and professional service. Very helpful even though I did not quite know what I wanted.
                    Recommend
                    to anyone who needs a name for their product or brand.
                </i>
            </div><br>
            <div class="sm-bord">
                ~ Nathan Mattiske
            </div>
        </h4>

        <div class="gap"></div>

        <h4 class="body-shortened text">
            <div class="bord">
                <i>
                    We are not entirely sure on which name to choose, however one does stand out amongst the rest. We
                    may brainstorm a little more as we want to be 100% sure on the name.
                    They have been great to deal with throughout the entire process.
                </i>
            </div><br>
            <div class="sm-bord">
                ~ Megan Healy
            </div>
        </h4>

    </div>

    <div class="gap"></div>

</div>