<div class="gap" id="testimonials"></div>

<div class="generic-cont">

  <div class="gen-title-margin text-center">
    <h1 class="gen-title text">Testimonials</h1>
    <h4 class="body-shortened text">
      What our clients have to say about us
    </h4>

    <div class="gap"></div>

    <h3 class="text">
      <div class="bord">
        <i>
          “Petroxi is ignition.
          Every day I see the name, it reignites my passion for my product.
          <br>
          Sam understood the product, the audience and came up with a name that is relevant. Hands down, one of the most
          creative people I've worked with.”
        </i>
      </div><br>
      <div class="sm-bord">
        Umair Ali - Founder Petroxi
      </div>
    </h3>

    <div class="gap"></div>

    <h3 class="text top-bord">
      <div class="bord">
        <i>
          “Prompt and professional service. Very helpful even though I did not quite know what I wanted.
          Recommend to anyone who needs a name for their product or brand.”
        </i>
      </div><br>
      <div class="sm-bord">
        Nathan Mattiske - 3D Store
      </div>
    </h3>

  </div>

  <div class="gap"></div>

</div>
