<app-page-animation></app-page-animation>

<div class="gap"></div>

<div class="name-img-cont align-self-center">
    <div class="name-img-border">
        <div class="name-img"></div>
    </div>
</div>


<div class="generic-cont">

    <div class="gap"></div>

    <div class="gen-title-margin text-center">
        <h1 class="gen-title text">About Me</h1>
        <p class="gen-subtitle text">Who am I?</p>
    </div>

    <!-- <h2 class="actions under-line text-center text">Optional Yet Noteworthy Course of Actions</h2> -->

    <div class="gen-body">
        <h2 class="head text">I am in Pursuit Of</h2>
        <h4 class="body text">
            Meaning<br>
            Aesthetic<br>
            Creative Outlet
        </h4>
    </div>

    <div class="gen-body">
        <h2 class="head text">Problem Solver</h2>
        <h4 class="body text">
            Working with leading companies as a Strategist
        </h4>
    </div>

    <div class="gap"></div>

</div>