<app-page-animation></app-page-animation>

<div class="gap"></div>

<div class="name-img-cont align-self-center">
	<div class="name-img-border">
		<div class="name-img"></div>
	</div>
</div>

<div class="generic-cont">
	<div class="gap"></div>

	<div class="gen-title-margin">
		<br />

		<h1 class="gen-title text-center text">About Us</h1>

		<div class="gap"></div>

		<div class="text">
			<h3 class="head-body-avg">Vision</h3>

			<h4 class="body-avg">
				To help startups that are making a positive impact, get recognized
				by their name.
			</h4>

			<div class="gap"></div>

			<h3 class="head-body-avg">Founder</h3>

			<h4 class="body-avg">
				Abdul Samad
				<br />
				Computer Scientist
				<br />
				Active in naming, humanitarianism, and product development.
				<br />
				Moreover an NFT artist. My work has been featured in
				multiple exhibitions around the world, most recently in NYC by
				Ars Electronica.
			</h4>

			<div class="gap"></div>

			<h3 class="head-body-avg">Expertise</h3>

			<h4 class="body-avg">
				I’ve spent upwards of 1.5 thousand hours reading literature and research on
				naming, psychology, and linguistics. Our main research and creative process
				is called Haecceity™.
				With expertise in both naming and tech, we are developing a product for brand name diagnosis.
			</h4>

			<div class="gap"></div>

			<!-- <h3 class="head-body-avg">My Team</h3>

			<h4 class="body-avg">
				There's only me at the moment. I'm open to partnerships and
				collaborations.
			</h4>

			<div class="gap"></div> -->

			<h3 class="head-body-avg">Product Development</h3>

			<h4 class="body-avg">
				I help startups in branding, product strategy, product
				development, business plan, product-market-fit, go-to-market
				strategy, etc.
			</h4>

			<div class="gap"></div>

			<h3 class="head-body-avg">Humanitarianism</h3>

			<h4 class="body-avg">
				I also lead Healthy Household, a research-oriented non-profit that teaches everything you need to traverse life.
			</h4>

			<br />

		</div>
	</div>

	<div class="gap"></div>

</div>
