<app-page-animation></app-page-animation>

<div class="gap"></div>

<div class="about-me-container">


    <h1 class="about-me text-center text">About Me</h1>

    <div class="con">
        <h2 class="head text">Professionally</h2>
        <h3 class="body text">
            Highly creative individual looking for meaning, involved in different arts.
            Values authenticity and belives that everything should be true to its identity.
        </h3>
    </div>

    <div class="con">
        <h2 class="head text">Personally</h2>
        <h3 class="body text">I am a bit shy so can we just skip this?</h3>
    </div>

    <div class="con">
        <h2 class="head text"></h2>
        <h3 class="body text"></h3>
    </div>

    <div class="gap"></div>

</div>