<app-page-animation></app-page-animation>

<div class="gap"></div>

<div class="generic-cont op-black">

	<app-back-button-for-names></app-back-button-for-names>

	<div class="gen-title-margin">

		<h1 class="gen-title text-center text head-mar-bot">
			<a class="custom-link under-line" target="_blank" href="https://servedtoday.io/#sec-dc95" rel="noopener">
				Petroxi
			</a>
		</h1>
		<p class="gen-subtitle text-center text">Petrol Delivery App</p>

		<br>

		<div class="text">

			<h3 class="head-body-avg">
				Project
			</h3>

			<h4 class="body-avg">
				Name an app that allows people to order petrol.
			</h4>


			<div class="gap"></div>


			<h3 class="head-body-avg">
				Value
			</h3>

			<h4 class="body-avg">
				Delivery of petrol to the user's location helps them out in emergencies and saves them the time spent in
				queues.
			</h4>


			<div class="gap"></div>


			<h3 class="head-body-avg">
				Name
			</h3>

			<h4 class="body-avg">
				The keyword Petrol.
				<br>
				Symbolizes <span class="highlight w-to-r-text">ignition</span> with word connotations.
			</h4>

		</div>

	</div>

	<div class="gap"></div>
	<div class="gap"></div>

</div>