.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--always-moving-block-black);
}

.con {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 20px;
}

.head,
.body {
  letter-spacing: 5px;
}
