<app-page-animation></app-page-animation>

<div class="gap" id="contact"></div>

<div class="generic-cont">

    <div class="gap"></div>

    <h2 class="gen-title text">Stand Out of the Crowd</h2>
    <h2 class="gen-title text">Contact Details</h2>

    <div class="gen-body">
        <h2 class="head text">Email:</h2>
        <a class="custom-link" href="mailto:asknamer@outlook.com">
            <h3 class="body under-line text">asknamer@outlook.com</h3>
        </a>
    </div>

    <!-- <div class="gen-body">
        <h2 class="head text">Phone #:</h2>
        <h3 class="body text">+92 305 8268734</h3>
    </div> -->

    <div class="gen-body">
        <h2 class="head text">Availability</h2>
        <h3 class="body text">9AM to 5PM +5 UTC</h3>
    </div>

    <div class="gap"></div>

</div>