<app-page-animation></app-page-animation>

<div class="gap"></div>

<div class="generic-cont">

    <h1 class="gen-title text">Connect With Me</h1>

    <div class="gen-body">
        <h2 class="head text">Email:</h2>
        <h3 class="body text">asknamer@outlook.com</h3>
    </div>

    <!-- <div class="gen-body">
        <h2 class="head text">Phone #:</h2>
        <h3 class="body text">+92 305 8268734</h3>
    </div> -->

    <div class="gen-body">
        <h2 class="head text">Availability</h2>
        <h3 class="body text">9AM to 5PM +5 UTC</h3>
    </div>

    <div class="gap"></div>

</div>