<app-page-animation></app-page-animation>

<div class="gap"></div>

<div class="generic-cont">

    <div class="gen-title-margin text-center">
        <h1 class="gen-title text">Haecceity</h1>
        <h4 class="gen-subtitle text">That property or quality of a thing by virtue of which it is unique or describable
            as ‘this (one)’
            <br><br>
            First of its kind: Property Incarnate
            <br><br>
        </h4>
    </div>

    <div class="gen-body">
        <h2 class="head text">Brand Identity</h2>
        <h4 class="body text">
            More than a name<br>
        </h4>

        <h4 class="body-shortened text">
            Complete brand identity creation with the help of one of the many branding agencies we are affiliated
            with
        </h4>
    </div>

    <h2 class="actions under-line text-center text">Affiliation</h2>

    <div class="gen-body">
        <h2 class="head text">Tech</h2>
        <h4 class="body text">
            Served Today | Where Ideas Meet Execution
        </h4>

        <h4 class="body-shortened text">
            Want a product developed or just the prototype (UI/UX) designed?<br>
            We can connect you with our official technical partner<br>
            <br>
            They specialize in startups, with many POCs and MVPs under their belt.
        </h4>
    </div>

    <div class="gap"></div>

</div>