<app-page-animation></app-page-animation>

<div class="gap"></div>

<div class="generic-cont">

    <div class="gen-title-margin text-center">
        <h1 class="gen-title text">Haecceity</h1>
        <p class="gen-subtitle text">That property or quality of a thing by virtue of which it is unique or describable
            as ‘this (one)’
            <br><br>
            First of its kind: Property Incarnate
        </p>
    </div>

    <h2 class="actions under-line text-center text">Optional Yet Noteworthy Course of Actions</h2>

    <div class="gen-body">
        <h2 class="head text">Haecceity | Consultation</h2>
        <h4 class="body text">
            Would like a consultation on something that is not listed on this website?
        </h4>
    </div>

    <div class="gen-body">
        <h2 class="head text">Haecceity | Identity</h2>
        <h4 class="body text">
            Design a unique identity, using Haecceity, for your brand / product
            <br>
            Continue the identity journey with me
        </h4>
    </div>

    <div class="gen-body">
        <h2 class="head text">External | Affiliations</h2>
        <h4 class="body text">
            I'm associated with multiple premium branding agencies worldwide
            <br>
            Continue the identity journey with one of those associations, present in your region
        </h4>
    </div>

    <div class="gen-body">
        <h2 class="head text">Self | Stick Shift</h2>
        <h4 class="body text">
            Streams create their own rivers
        </h4>
    </div>

    <div class="gap"></div>

</div>