.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.generic-cont {
  background-color: rgba(6, 8, 8, 0.9);
}

.gen-title {
  font-variant: normal;
}

.underline {
  color: rgba(6, 8, 8, 0.7);
  text-decoration: underline;
  text-decoration-color: rgba(6, 8, 8, 0.5);
  text-decoration-thickness: 2px;
}

.underline:hover {
  color: rgba(6, 8, 8, 0.9);
  text-decoration-color: rgba(6, 8, 8, 0.8);
}

.w-to-b-text {
  padding-left: 12px;
  padding-right: 11px;
}
