<div class="gap" id="connect"></div>

<div class="generic-cont">

    <div class="gap"></div>

    <h2 class="gen-title text">Connect</h2>

    <div class="gen-body">
        <h2 class="head h1-to-h4 text">Feel free to reach out to me regarding any queries, collaborations, or a
            discussion.</h2>
        <p class="gen-subtitle text">Min ticket: $800</p>
    </div>

    <div class="gen-body" id="email">
        <h2 class="head text">Email:</h2>
        <a class="custom-link" href="mailto:hi@asknamer.com">
            <h3 class="body under-line text">hi@asknamer.com</h3>
        </a>
    </div>

    <div class="gen-body">
        <h2 class="head text">Availability</h2>
        <h3 class="body text">9AM to 5PM +5 UTC</h3>
    </div>

    <div class="gap"></div>

</div>