.generic-cont {
  display: flex;

  justify-content: center;
  align-items: center;

  background-color: rgba(6, 8, 8, 0.9);
  box-shadow: 0 0 10px 5px rgba(6, 8, 8, 0.9);
}

.gen-title {
  font-variant: normal;
}

.underline {
  color: rgba(6, 8, 8, 0.7);
  text-decoration: underline;
  text-decoration-color: rgba(6, 8, 8, 0.5);
  text-decoration-thickness: 2px;
}

.underline:hover {
  color: rgba(6, 8, 8, 0.9);
  text-decoration-color: rgba(6, 8, 8, 0.8);
}

.w-to-b-text {
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 11px;

  box-shadow: 0 0 14px 0 rgba(240, 240, 240, 0.8);
}

.br-sm {
  display: block;
  margin-bottom: -30px;
}

/* For small screens */
@media (min-width: 450px) {
  .br-sm {
    display: none;
  }
}

/* For large screens */
@media (min-width: 768px) {
  .br-sm {
    display: none;
  }
}
