<div class="gap" id="naming-diagnostic"></div>

<div class="generic-cont">

  <div class="gen-title-margin text">

    <h1 class="gen-title">Naming Diagnostic</h1>
    <p class="gen-subtitle"> </p>

    <br>

    <h4>
      Want to find out how <span class="highlight w-to-dg-text">powerful</span> your brand name is?
      <br>
      Our name diagnostic
      gives you reports on sound symbolism, word connotations, and translation testing, and scores on memorability,
      pronounceability, readability, and robot pronounceability of the name.

      <br><br>
      We are taking the <span class="highlight w-to-g-text">science</span> work out of naming so you can focus on the
      <span class="highlight w-to-beige-text">art</span>.
    </h4>

    <div class="gap"></div>

    <h2>Coming Soon</h2>

    <div class="gap"></div>

    <h3>
      Branding Agencies can
      <a class="custom-link" href="mailto:hi@asknamer.com">
        <span class="highlight w-to-b-text">contact</span>
      </a>
      for more information.
    </h3>

  </div>

  <div class="gap-block"></div>

</div>
