<app-page-animation></app-page-animation>

<div class="gap"></div>

<div class="nav-bg"></div>
<div class="generic-cont">

	<div class="gen-title-margin text text-center">
		<h1 class="gen-title">FAQ</h1>
		<p class="body-shortened">
			<i>
				Don't see you question here?
				<br>
				<a class="custom-link under-line" [routerLink]="['/connect']">Contact
					us</a> with your question and we'll get back to you shortly.
			</i>
		</p>
	</div>

	<div class="blog-body text">

		<b class="blog-sub-head"><img class="symbol-lh invert" src="/assets/images/buttons/forward-arrow-20.png" alt="">

			Why should I pay for a name?
		</b><br>

		<div class="ml">
			No one knows about your company as much as you. But when it comes to naming, are you an expert on symbolism,
			branding, linguistics, and semantics? At Ask Namer, we are.
			<br><br>
			Naming isn’t simply choosing a name you like. It’s one of the most important marketing decisions of a
			company.
			If you base it on a committee vote or your own opinion, both riddled with subjectivity, you’ll end up with a
			tasteless name that doesn’t serve any purpose.
			<br><br>
			Naming is based on brand strategy and that should be derived from a clear business objective. A name should
			move
			towards your marketing objective, your brand’s vision, your customers, and away from your competition.
			<br><br>
			A name is an investment in your company’s future. And this investment will likely outlast your mobile, your
			office, and your most loyal employees.
			<br><br>
			Not to mention, your company’s name will be used more often than anything else you’ll spend money on.
		</div>


		<br>
		<hr><br>


		<b class="blog-sub-head"><img class="symbol-lh invert" src="/assets/images/buttons/forward-arrow-20.png" alt="">

			The market of our brand is in XYZ country, how do you overcome the culture gap?
		</b><br>
		<div class="ml">
			We already have keen understanding of the biggest cultures. As for others, we have different models that we
			use
			to gain insight in the culture. We do not take projects from countries for which the culture models aren’t
			available.
		</div>


		<br>
		<hr><br>


		<b class="blog-sub-head"><img class="symbol-lh invert" src="/assets/images/buttons/forward-arrow-20.png" alt="">

			What is your pricing?
		</b><br>
		<div class="ml">
			For free, you can get countless names from
			<a class="custom-link under-line"
				[routerLink]="['/insights/i-cant-afford-a-naming-agency-and-want-a-name-quickly']">
				name generators</a>.
			<br><br>
			You can spend $500 on Fiverr or Upwork and hire someone, who has no expertise in branding and knows nothing
			about your company, to give you a long list of names. On the other end of that spectrum, you can spend
			$100,000
			on a name from Lexicon who have worked on BlackBerry and Pentium.
			<br><br>
			So, we are not the cheapest but we are also not the most expensive. We price according to the research and
			parameters you require, and you can afford.
			<br><br>
			A name is an investment. The more you invest, the better the returns are.
		</div>


		<br>
		<hr><br>


		<b class="blog-sub-head"><img class="symbol-lh invert" src="/assets/images/buttons/forward-arrow-20.png" alt="">

			What is your process?
		</b><br>
		<div class="ml">
			We won’t share the details of our process, but we will provide a brief overview.
			<br><br>
			Our main creative and research process is called Haecceity™.
			<br><br>
			We perform two steps for every stage, one diverging and the other converging. This iterative approach ensures that the names
			are imbued with symbolism and perform on all the parameters required.
		</div>


		<br>
		<hr><br>


		<b class="blog-sub-head"><img class="symbol-lh invert" src="/assets/images/buttons/forward-arrow-20.png" alt="">

			Do you do free pitching?
		</b><br>
		<div class="ml">
			Imagine going to a restaurant, trying four courses, and insisting that you'll only pay for the plate that,
			in
			your opinion, tastes best.
			<br><br>
			It sounds silly, almost immature but it happens in the creative industry.
			<br><br>
			Agencies don’t get to put their best foot forward in fear of non-payment. And the clients don’t get the best
			work. It is also unfair to genuine clients, who are prepared to pay a specialist what they're worth and what
			they're owed. Everyone loses.
			<br><br>
			Our dedication is to quality and fairness. Therefore, we don’t partake in such practice.
		</div>


		<br>
		<hr><br>


		<b class="blog-sub-head"><img class="symbol-lh invert" src="/assets/images/buttons/forward-arrow-20.png" alt="">

			What if I don’t like any of the names?
		</b><br>
		<div class="ml">
			Likes and dislikes are a part of the human experience. These feelings are subjective, hence not a good
			judgement
			criterion.
			<br><br>
			It is similar to working with a construction company, tasked to design and construct your home. You not
			'liking'
			it' when the construction is complete and then demanding a refund doesn’t make sense, as the payment is for
			their labour, parts, and the construction.
			<br><br>
			The names that we provide are research based, derived from practices that have empirically proven to work.
			Hence
			‘liking’ is not a criterion that we cater to.
		</div>


		<br>
		<hr><br>


		<b class="blog-sub-head"><img class="symbol-lh invert" src="/assets/images/buttons/forward-arrow-20.png" alt="">

			Are there any refunds?
		</b><br>
		<div class="ml">
			We are interested in delivering a solution to your problem. We have a ‘no-name, no-fee’ policy that applies
			in
			the unlikely case that none of the candidate names pass a 'full' legal search that you conduct with your
			trademark attorney.
			<br><br>
			We are here to build lasting relationships; we won’t leave you with a problem at your hands. We’d be happier
			to
			offer you a free round of naming to ensure that you get what you came to us for.
		</div>


		<br>
		<hr><br>


		<b class="blog-sub-head"><img class="symbol-lh invert" src="/assets/images/buttons/forward-arrow-20.png" alt="">

			Do you guarantee that the names proposed can be trademarked?
		</b><br>
		<div class="ml">
			We cannot and do not warrant that the usage of any name selected by the client is free of legal risks or
			liabilities. Final legal clearance and acceptance of legal risk remains the responsibility of the client. We
			strongly encourage you to do a full legal search on the final name candidate through an attorney before
			usage.
		</div>


		<br>
		<hr><br>


		<b class="blog-sub-head"><img class="symbol-lh invert" src="/assets/images/buttons/forward-arrow-20.png" alt="">

			Do I own all the names on the list?
		</b><br>
		<div class="ml">
			The client is only entitled to one (1) name on the list for their use. All other names created during the
			project are property of Ask Namer. There can be special arrangements made for more than one name.
		</div>

		<br>
		<hr><br>


		<b class="blog-sub-head"><img class="symbol-lh invert" src="/assets/images/buttons/forward-arrow-20.png" alt="">

			Do you accept Crypto?
		</b><br>
		<div class="ml">
			Yes.
		</div>

		<br>

	</div>

	<div class="gap"></div>

</div>