<app-page-animation></app-page-animation>

<div class="revamp h4 text-light">
    We are revamping the website
</div>

<!-- Flex 1 -->
<div class="flex-1">

    <div class="name-img-cont align-self-center">
        <div class="name-img-border">
            <div class="name-img"></div>
            <div class="text name-text">Name</div>
        </div>
    </div>

</div>


<div class="gap"></div>


<!-- Flex 2 -->
<div class="generic-cont">

    <div class="gen-title-margin text-center">
        <h2 class="gen-title text an-title">Ask Namer</h2>
        <p class="gen-subtitle text">Eclectic Naming Services</p>
    </div>

    <div class="gen-body">
        <h2 class="head text"></h2>
        <h1 class="body text desc">
            We come up with fitting names for brands.
            <br><br>
            The identity of your brand starts with a name, so we make sure you get a headstart
            <br><br>
            Explore
            <br><a class="custom-link-no-color" href="#names">The Names | Portfolio</a>
            <br><a class="custom-link-no-color" href="#haecceity">The Haecceity | Unique Method of Naming</a>
            <br><a class="custom-link-no-color" href="#nomenclature">The Nomenclature | Art & Science of Naming</a>
        </h1>
    </div>

    <div class="gap"></div>

</div>


<!-- Names -->
<app-names-landing></app-names-landing>

<!-- Nomenclature -->
<app-nomenclature-landing></app-nomenclature-landing>

<!-- Haecceity -->
<app-haecceity-landing></app-haecceity-landing>

<!-- Contact -->
<app-contact></app-contact>


<div class="gap"></div>