<app-page-animation></app-page-animation>

<div class="revamp h4 text-light">
  We are revamping the website
</div>

<div class="nav-bg"></div>

<!-- Flex 2 -->
<div class="flex-2 generic-cont-l">

  <div class="gen-title-margin title-text-box text-center">
    <!-- <h2 class="gen-title text an-title">Ask Namer</h2> -->
    <!-- <p class="gen-subtitle text">Research-Based Naming Agency</p> -->
    <h2 class="gen-title text-light an-title">Ask Namer</h2>
    <p class="gen-subtitle text-light">Research-Based Naming Agency</p>
  </div>

  <div class="gen-body subtitle-text-box">
    <!-- <h2 class="head text"></h2> -->
    <h2 class="head text-dark"></h2>

    <h1 class="body text desc">
      We use data science, linguistic expertise, and a deep understanding of your target audience to create a name
      that will help you stand out from the crowd.
    </h1>

    <h1 class="body text desc">
      <!-- The identity of your brand starts with a name, so we make sure you get a headstart -->
      <!-- <br><br> -->

      <!-- <div class="boxes">

        <div class="box">
          <div class="box-in" id="box-1">Names</div>
        </div>

        <div class="box" id="box-2">Haecceity</div>
        <div class="box">

          <div class="box-in" id="box-3">Nomenclature</div>

        </div>

      </div>

      <br><a class="custom-link-no-color l-pad" href="#names">Names | Portfolio</a>
      <br><a class="custom-link-no-color l-pad" href="#haecceity">Haecceity | Intuitive Method</a>
      <br><a class="custom-link-no-color l-pad" href="#nomenclature">Nomenclature | Art & Science</a> -->

      <!-- <br><br>
            <div class="boxes">

                <div class="box" id="bx-names">
                    Names<br>Portfolio
                </div>

                <div class="box">
                    Haecceity<br>Naming Method
                </div>

                <div class="box">
                    Nomenclature<br>Art & Science
                </div>

            </div> -->

    </h1>
  </div>

  <div class="gap"></div>

</div>

<!-- Nomenclature -->
<app-nomenclature-landing></app-nomenclature-landing>

<!-- Names -->
<app-names-landing></app-names-landing>

<!-- Ask Namer - Case Study -->
<app-ask-namer-case-study-landing></app-ask-namer-case-study-landing>

<!-- Haecceity -->
<app-haecceity-landing></app-haecceity-landing>

<!-- Testimonials -->
<app-testimonials></app-testimonials>

<!-- Contact -->
<app-contact-landing></app-contact-landing>


<div class="gap"></div>
