<app-page-animation></app-page-animation>

<!-- Flex 1 -->
<div class="flex-1">

    <div class="name-img-cont align-self-center">
        <div class="name-img-border">
            <div class="name-img"></div>
            <div class="text name-text">Name</div>
        </div>
    </div>

</div>


<div class="gap"></div>


<!-- Flex 2 -->
<div class="flex-2 premium">
    <h1 class="prem-title text-dark">Premium Names</h1>

    <div class="prem-cont">

        <div class="prem-box">
            <div class="prem-box-img">

            </div>
            <div class="prem-box-text text">
                Researched based methods for easier remembrance.
            </div>
        </div>

        <div class="prem-box">
            <div class="prem-box-img">

            </div>
            <div class="prem-box-text text">
                Researched based methods for easier remembrance.
            </div>
        </div>

        <div class="prem-box">
            <div class="prem-box-img">

            </div>
            <div class="prem-box-text text">
                Researched based methods for easier remembrance.
            </div>
        </div>

    </div>
</div>


<div class="gap"></div>


<!-- Flex 3 -->
<div class="flex-3 portfolio">

    <div class="flip-card">
        <div class="flip-card-inner">

            <div class="flip-card-front">
                <h1 class="flip-title text-light">Aviri B</h1>
                <hr class="flip-hr-front">
                <h2 class="flip-quality text-light">Elegant & Silky<br>Yet Funky</h2>
            </div>

            <div class="flip-card-back">
                <h2 class="flip-subtitle text-light">The Aviary</h2>
                <hr class="flip-hr-back">
                <h4 class="flip-body text-light">
                    Bird Shop with a beautiful Aviary for various Exotic Birds
                </h4>
            </div>

        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">

            <div class="flip-card-front">
                <h1 class="flip-title text-light">Duft Und Du</h1>
                <hr class="flip-hr-front">
                <h2 class="flip-quality text-light">Soft, Smooth, Flowing</h2>
            </div>

            <div class="flip-card-back">
                <h2 class="flip-subtitle text-light">Fragrance & You</h2>
                <hr class="flip-hr-back">
                <h4 class="flip-body text-light">
                    One-Of-A-Kind AI-based Personalized Fragrance Reviewing System
                </h4>
            </div>

        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">

            <div class="flip-card-front">
                <h1 class="flip-title text-light">Served Today</h1>
                <hr class="flip-hr-front">
                <h2 class="flip-subtitle text-light">Crispy, Swift, Heartening</h2>
            </div>

            <div class="flip-card-back">
                <h2 class="flip-subtitle text-light">Get Served Today</h2>
                <hr class="flip-hr-back">
                <h4 class="flip-body text-light">
                    House of the most user-friendly ERP system.
                    <br>
                    Set it up in minutes yourself.
                </h4>
            </div>

        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">

            <div class="flip-card-front">
                <h1 class="flip-title text-light">Plethora</h1>
                <hr class="flip-hr-front">
                <h2 class="flip-subtitle text-light">Formal, Pun for the Bilingual Audience</h2>
            </div>

            <div class="flip-card-back">
                <h2 class="flip-subtitle text-light">Bite Sized Journalism</h2>
                <hr class="flip-hr-back">
                <h4 class="flip-body text-light">
                    Packing loads of content in bite-sized tidbits
                </h4>
            </div>

        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">

            <div class="flip-card-front">
                <h1 class="flip-title text-light">[Coming Soon]</h1>
                <hr class="flip-hr-front">

                <h2 class="flip-subtitle text-light">Art & Crafts</h2>
            </div>

            <div class="flip-card-back">
                <h4 class="flip-body text-light">
                    Providing Various Art and Crafts
                    <br>
                    In addition to Yard & Woodwork
                </h4>
            </div>

        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">

            <div class="flip-card-front">
                <h1 class="flip-title text-light">[Coming Soon]</h1>
                <hr class="flip-hr-front">

                <h2 class="flip-subtitle text-light">Most User-Friendly ERP</h2>
            </div>

            <div class="flip-card-back">
                <h4 class="flip-body text-light">
                    The most user-friendly ERP for small and big businesses
                </h4>
            </div>

        </div>
    </div>

</div>


<div class="gap"></div>


<!-- Contact -->
<app-contact></app-contact>


<div class="gap"></div>