<div class="gap"></div>

<div class="custom-footer">
    <div class="flex-container">

        <h4 class="flex-column text" id="about-me" (mouseenter)="linkHoverOn('#about-me')"
            (mouseout)="linkHoverOff('#about-me')">
            <a class="custom-link" [routerLink]="['about-me']">About Me</a>
        </h4>

        <!-- <h4 class="flex-column text" id="portfolio" (mouseenter)="linkHoverOn('#portfolio')"
            (mouseout)="linkHoverOff('#portfolio')">
            <a class="custom-link" [routerLink]="['names']">Names</a>
        </h4> -->

        <h4 class="flex-column text" id="askvoid" (mouseenter)="linkHoverOn('#askvoid')"
            (mouseout)="linkHoverOff('#askvoid')">
            <a class="custom-link" [routerLink]="['ask-void']">Ask Void</a>
        </h4>

        <h4 class="flex-column text" id="terms" (mouseenter)="linkHoverOn('#terms')"
            (mouseout)="linkHoverOff('#terms')">
            <a class="custom-link" [routerLink]="['terms']">Terms & Agreement</a>
        </h4>

        <h4 class="flex-column text" id="contact" (mouseenter)="linkHoverOn('#contact')"
            (mouseout)="linkHoverOff('#contact')">
            <a class="custom-link" [routerLink]="['contact']">Contact</a>
        </h4>

    </div>
</div>

<p class="custom-footer-bottom">
    © 2021 Ask Namer - All Rights Reserved
</p>