<div class="gap" id="names"></div>

<div class="generic-cont names-cont">

    <div class="names-head gen-title-margin">
        <h1 class="gen-title text">Names</h1>
        <p class="gen-subtitle text"><span class="small-caps">aka</span> Portfolio</p>
    </div>

    <div class="names-body">

        <div class="flip-card">
            <div class="flip-card-inner">

                <div class="flip-card-front">
                    <h1 class="flip-title text-light">Ask Namer</h1>
                    <hr class="flip-hr-front">
                    <h2 class="flip-quality text-light">Personalized, Welcoming, Didactic</h2>
                </div>

                <div class="flip-card-back">
                    <h2 class="flip-subtitle text-light">//Applied For Registration</h2>
                    <hr class="flip-hr-back">
                    <h4 class="flip-body text-light">
                        Providing Brand / Product Naming Services
                        <br>
                        <a class="custom-link-no-color text-light" [routerLink]="['/ask-namer-case-study']">Learn
                            More</a>
                    </h4>
                </div>

            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">

                <div class="flip-card-front">
                    <h1 class="flip-title text-light">Azura</h1>
                    <hr class="flip-hr-front">
                    <h2 class="flip-quality text-light">Royal & Silky</h2>
                </div>

                <div class="flip-card-back">
                    <h2 class="flip-subtitle text-light">Marble Halfmoon Betta</h2>
                    <hr class="flip-hr-back">
                    <h4 class="flip-body text-light">
                        Marble for color pattern & Halfmoon for resemblence of its tail with a half-moon
                    </h4>
                </div>

            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">

                <div class="flip-card-front">
                    <h1 class="flip-title text-light">Duft Und Du</h1>
                    <hr class="flip-hr-front">
                    <h2 class="flip-quality text-light">Soft, Smooth, Flowing</h2>
                </div>

                <div class="flip-card-back">
                    <h2 class="flip-subtitle text-light">Fragrance & You</h2>
                    <hr class="flip-hr-back">
                    <h4 class="flip-body text-light">
                        One-Of-A-Kind AI-based Personalized Fragrance Reviewing System
                    </h4>
                </div>

            </div>
        </div>

    </div>

    <!-- Learn More -->
    <div class="gen-title-margin text-center">
        <a class="custom-link center" [routerLink]="['/names']">
            <h2 class="gen-title under-line text-light">Explore More Names</h2>
        </a>
    </div>

    <div class="gap-block"></div>

</div>