<div class="gap" id="names"></div>

<div class="generic-cont">

  <div class="names-head gen-title-margin text-center">

    <h1 class="gen-title text">Names</h1>
    <p class="gen-subtitle text"><span class="small-caps">aka</span> Portfolio</p>

    <h4 class="body-shortened text">
      <br>

      A <span class="highlight w-to-b-text"><b>powerful name</b></span> creates an emotional connection by what it
      represents
      symbolically. The blend of meaning
      from language, sound, culture, and myth all help the name rise above the norm and create a lasting
      impression in
      the memory.

      <br><br>

      You don’t have to spend as much
      <span class="highlight w-to-r-text"><i>marketing capital</i></span> nor
      <span class="highlight w-to-r-text"><i>struggle to convince</i></span>
      the world of your <span class="highlight w-to-b-text"><b>greatness</b></span>, a powerful name does that for you.

      <br><br>

      Here are a few recent examples from our
      <a class="custom-link under-line" [routerLink]="['/names']">Portfolio</a>:

      <br>
    </h4>

  </div>

  <div class="names-body">

    <div class="flip-card">
      <div class="flip-card-inner">

        <div class="flip-card-front">
          <h2 class="flip-title text-light">Petroxi</h2>
          <hr class="flip-hr-front">
          <h3 class="flip-quality text-light">Petrol Delivery App</h3>
        </div>

        <div class="flip-card-back">
          <h4 class="flip-body text-light">
            <a class="custom-link center" [routerLink]="['/case-study/petroxi']">
              <h3 class="gen-title under-line text">Case Study</h3>
            </a>
          </h4>
        </div>

      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">

        <div class="flip-card-front">
          <h2 class="flip-title text-light">Served Today</h2>
          <hr class="flip-hr-front">
          <h3 class="flip-quality text-light">
            Software Company
          </h3>
        </div>

        <div class="flip-card-back">
          <h4 class="flip-body text-light">
            <a class="custom-link center" [routerLink]="['/case-study/served-today']">
              <h3 class="gen-title under-line text">Case Study</h3>
            </a>
          </h4>
        </div>

      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">

        <div class="flip-card-front">
          <h2 class="flip-title text-light">Duft Und Du</h2>
          <hr class="flip-hr-front">
          <h3 class="flip-quality text-light">
            Independent Fragrance Reviewer
          </h3>
        </div>

        <div class="flip-card-back">
          <h4 class="flip-body text-light">
            <a class="custom-link center" [routerLink]="['/case-study/duft-und-du']">
              <h3 class="gen-title under-line text">Case Study</h3>
            </a>
          </h4>
        </div>

      </div>
    </div>

  </div>

  <div class="gap-block"></div>

</div>
