<div class="gap" id="partners"></div>

<div class="generic-cont">

  <div class="gen-title-margin text-center">
    <h1 class="gen-title text">Our Partners</h1>
    <h4 class="body-shortened text">
      Our Strategic Partnerships
    </h4>

    <div class="gap"></div>

    <div class="flexbox">
      <div class="partner">
        <img class="image" src="/assets/images/partners/startup-grind-transparent.png" alt="Startup Grind as Partner">
      </div>

      <div class="partner">
        <img class="image" src="/assets/images/partners/cocoon-community-transparent.png" alt="Cocoon as Partner">
      </div>

      <div class="partner">
        <img class="image" src="/assets/images/partners/gen-global-entrepreneurship-network-sq.png"
          alt="Gen - Global Entrepreneurship Network as Partner">
      </div>
    </div>

  </div>

  <div class="gap"></div>

</div>
