<div class="gap" id="partners"></div>

<div class="generic-cont">

	<!-- Global Partners -->
	<div class="gen-title-margin text-center">
		<h1 class="gen-title text">Global Partners</h1>
		<h4 class="body-shortened text">
			Our Strategic Partnerships
		</h4>

		<div class="gap"></div>

		<div class="flexbox">
			<div class="partner">
				<img class="image white" src="/assets/images/partners/startup-grind-transparent.png"
					alt="Startup Grind as Partner">
			</div>

			<div class="partner">
				<img class="image white" src="/assets/images/partners/cocoon-community-transparent.png"
					alt="Cocoon as Partner">
			</div>

			<div class="partner">
				<img class="image white" src="/assets/images/partners/gen-global-entrepreneurship-network-sq.png"
					alt="Gen - Global Entrepreneurship Network as Partner">
			</div>
		</div>

	</div>

	<!-- Trusted By -->
	<div class="gen-title-margin text-center">
		<h1 class="gen-title text">Trusted By</h1>

		<div class="gap"></div>

		<div class="flexbox">
			<div class="partner-sm">
				<a target="_blank" href="https://servedtoday.io" rel="noopener">
					<img class="image sm white" src="/assets/images/evaluations/served-today.png" alt="Served Today">
				</a>
			</div>

			<div class="partner-sm">
				<a target="_blank" href="https://www.inkwhy.com/index.html" rel="noopener">
					<img class="image sm white contain" src="/assets/images/evaluations/inkwhy.png" alt="Ink Why">
				</a>
			</div>

			<div class="partner-sm">
				<a target="_blank" href="https://dronerobotics.tech" rel="noopener">
					<img class="image sm white" src="/assets/images/evaluations/drone-robotics.png"
						alt="Drone Robotics">
				</a>
			</div>

			<div class="partner-sm">
				<a target="_blank" href="https://cryptofaddicts.io" rel="noopener">
					<img class="image sm white" src="/assets/images/evaluations/crypto-faddicts.png"
						alt="Crypto Faddicts">
				</a>
			</div>

			<div class="partner-sm">
				<a target="_blank" href="https://slome.io" rel="noopener">
					<img class="image sm white contain" src="/assets/images/evaluations/slome.png" alt="Slome">
				</a>
			</div>

		</div>

	</div>

	<!-- Our Presence -->
	<div class="gen-title-margin text-center">
		<h1 class="gen-title text">Our Presence</h1>

		<div class="gap"></div>

		<div class="flexbox">
			<div class="partner">
				<a target="_blank" href="https://www.linkedin.com/company/asknamer" rel="noopener">
					<img class="image white" id="linkedin" src="/assets/images/featured/linkedin-logo.svg"
						alt="LinkedIn Logo">
				</a>
			</div>

			<div class="partner">
				<a target="_blank" href="https://clutch.co/profile/ask-namer" rel="noopener">
					<img class="image white" src="/assets/images/featured/clutch-co-vector-logo.svg" alt="Clutch Logo">
				</a>
			</div>

			<div class="partner">
				<a target="_blank" href="https://www.crunchbase.com/organization/ask-namer" rel="noopener">
					<img class="image white" src="/assets/images/featured/crunchbase-vector-logo.svg"
						alt="Crunchbase Logo">
				</a>
			</div>
		</div>

	</div>

	<div class="gap"></div>

</div>