.head {
  letter-spacing: 5px;
}

.gen-body {
  margin-left: 0;
  margin-right: 0;
}

.blog-body {
  margin: 0 2.5rem;
  font-size: 1.2rem;
  text-align: left;
  letter-spacing: 1px;
}

.blog-sub-head {
  font-size: 1.6rem;
}

.published {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .blog-body {
    margin: 0 4rem;
  }
}
