<app-page-animation></app-page-animation>

<div class="gap"></div>

<div class="generic-cont">

    <div class="gap"></div>

    <h1 class="gen-title text">Brief Blogs</h1>

    <div class="link-blog" (mouseleave)="linkHoverOff('#whats-in-a-name')">
        <a class="link-blog" [routerLink]="['/brief-blogs/whats-in-a-brand-name']">

            <div class="gen-body blog" id="whats-in-a-name" (mouseenter)="linkHoverOn('#whats-in-a-name')">

                <img class="img" src="/assets/images/blogs/braydon-anderson-wOHH-NUTvVc-unsplash-comp-sq.jpg"
                    alt="a dog looking like an intellectual with a big fake nose and big glasses" />
                <br>

                <div class="hor">
                    <h2 class="head text">What's in a brand name?</h2><br>
                    <p class="gen-subtitle text">Brand names can be more than just unique and meaningful. There are
                        different values/qualities that you can have in a brand name.
                    </p>
                </div>

            </div>

        </a>
    </div>

    <div class="link-blog" (mouseleave)="linkHoverOff('#facts-brand-names')">
        <a class="link-blog" [routerLink]="['/brief-blogs/the-sound-of-success-how-brands-can-benefit-from-phonetics']">

            <div class="gen-body blog" id="facts-brand-names" (mouseenter)="linkHoverOn('#facts-brand-names')">

                <img class="img" id="apple" src="/assets/images/blogs/word-art-sq.png"
                    alt="a word cloud of the words used in the blog, arranged in the shape of an apple" />
                <br>

                <div class="hor">
                    <h2 class="head text">The Sound Of Success: How Brands Can Benefit From Phonetics</h2>
                    <br>
                    <p class="gen-subtitle text">Research shows that brands labeled with proper phonetics are 65% better
                        perceived</p>
                </div>

            </div>
        </a>
    </div>

    <div class="gap"></div>

</div>