<div class="gap"></div>

<div class="generic-cont">

	<!-- Trusted By -->
	<div class="gen-title-margin text-center" id="trusted-by">
		<h1 class="gen-title text">Trusted By</h1>
		<h4 class="body-shortened text">
			Incubators and Programs
		</h4>

		<div class="gap"></div>

		<div class="flexbox">

			<div class="partner">
				<div class="img-cont">
					<a target="_blank" href="https://www.nvidia.com/en-us/startups/" rel="noopener">
						<img class="image contain white" src="/assets/images/incubators/nvidia-inception-program.png"
							alt="NVIDIA Inception Program">
					</a>
				</div>
			</div>

			<div class="partner">
				<div class="img-cont">
					<a target="_blank" href="https://giki.edu.pk/the-catalyst-gik-incubator/" rel="noopener">
						<img class="image contain white" id="giki" src="/assets/images/incubators/the-catalyst.png"
							alt="The Catalyst GIK Incubator">
					</a>
				</div>
			</div>

		</div>
	</div>

	<div class="gap"></div>

</div>