<div class="gap"></div>

<!-- Breakdown -->
<div class="generic-cont" id="app-ask-namer-case-study">

    <div class="gen-title-margin text-center">
        <h2 class="gen-title text">What's in a name?</h2>

        <h4 class="body text">
            Everything that you put in it.<br>
        </h4>

        <h4 class="body-shortened text">
            There are different values you can generate within a name, and a name can contain more than one
            values.<br><br>
        </h4>

        <h2 class="gen-title text">Values in Ask Namer</h2>

    </div>

    <carousel [isAnimated]="true" [noPause]="false" [interval]="5000">
        <slide>
            <img src="/assets/images/ask-namer-name-breakdown-1.jpg" alt="first slide">
        </slide>
        <slide>
            <img src="/assets/images/ask-namer-name-breakdown-2.jpg" alt="second slide">
        </slide>
        <slide>
            <img src="/assets/images/ask-namer-name-breakdown-3.jpg" alt="third slide">
        </slide>
    </carousel>

    <div class="gap"></div>

</div>