<app-page-animation></app-page-animation>

<div class="gap"></div>

<div class="generic-cont op-black">

    <app-back-button-for-names></app-back-button-for-names>

    <div class="gen-title-margin">

        <h1 class="gen-title text-center text">Plethora</h1>
        <p class="gen-subtitle text-center text">Bite-Sized Journalism</p>

        <br>

        <div class="text">

            <h3 class="head-body-avg">
                Project
            </h3>

            <h4 class="body-avg">
                Name a multicultural bite-sized journalism platform.
            </h4>

            <div class="gap"></div>


            <h3 class="head-body-avg">
                Value
            </h3>

            <h4 class="body-avg">
                Packing loads of content in bite-sized tidbits.
            </h4>


            <div class="gap"></div>


            <h3 class="head-body-avg">
                For
            </h3>

            <h4 class="body-avg">
                Bilingual Pakistanis.
            </h4>


            <div class="gap"></div>


            <h3 class="head-body-avg">
                Name
            </h3>

            <h4 class="body-avg">
                Plethora: (English) A vast amount.
                <br>
                Thora: (Urdu) A small amount.
                <br><br>
                Paradoxical bilingual pun based on the uniqueness i.e. jampacked bite-sized articles for easy
                consumption.
            </h4>


            <div class="gap"></div>


            <h3 class="head-body-avg">
                Tagline
            </h3>

            <h4 class="body-avg">
                Aimed at English speakers who don’t speak Urdu.
            </h4>

        </div>
    </div>

    <div class="gap-block"></div>

</div>