/* You can add global styles to this file, and also import other style files */
:root {
  --less-fake-white: rgb(250, 250, 250, 0.7);
  --fake-white: rgb(250, 250, 250, 0.6);

  --lux-black: rgb(34, 34, 34);
  --block-black: rgb(12, 12, 12);
  --moving-block-black: rgb(7, 7, 7);
  --always-moving-block-black: rgba(12, 12, 15, 0.9);
  /* Eigengrau */
  /* --always-moving-block-black: rgba(22, 22, 29, 0.9); */
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
}

.view {
  position: relative;
  min-height: calc(100vh - 536px);
}

.text,
.text-light,
.text-dark {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 3px;
  font-weight: 200;
}

.text {
  /* Text color difference */
  color: white;
  mix-blend-mode: difference;

  /* filter: invert(1) contrast(1);
        -webkit-filter: invert(1) contrast(1); */
}

/* For flipping cards */
.text-light {
  color: white;
}

/* For lighter bgs */
.text-dark {
  color: #212529;
}

/* Links */
.custom-link,
.custom-link:hover {
  color: inherit;
  text-decoration: none;
}

.custom-link-no-color {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: white;
}

.custom-link-no-color:hover {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

/* Links End */

.under-line {
  border-bottom: 1px solid white;
}

.gap {
  display: flex;
  margin: 2rem;
}

.gap-block {
  display: inline-block;
  padding: 2rem;
}

.an-title {
  font-size: 2.5rem;
  font-weight: 300;
}

.desc {
  font-size: 1.8rem;
}

/* actual-to-seo */
.p-to-h1 {
  font-size: 1rem;
}

/* seo-to-actual */
.h1-to-h4 {
  font-size: 1.5rem;
}

/* Generic Container */
.generic-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--always-moving-block-black);
}

.gen-title-margin {
  margin: 0 2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.gen-subtitle {
  margin: 0 2rem;
}

.head,
.gen-title {
  font-weight: 300;
  font-variant: small-caps;
}

.gen-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 1.7rem;

  text-align: center;
  letter-spacing: 5px;
}

.body-shortened {
  font-size: 1rem;
}


/* For Blogs */

.blog-back-btn {
  display: block;
  position: absolute;
  left: 15px;
}

.blg-bk-btn-tp {
  top: 50px;
}

.blg-bk-btn-btm {
  bottom: 50px;
}

/* Blogs End */

/* Generic Container End */


/* For small screens */
@media (min-width: 450px) {
  .gen-title-margin {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

/* For large screens */
@media (min-width: 768px) {

  .gen-title-margin,
  .gen-body {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}
