/* You can add global styles to this file, and also import other style files */
:root {
  --less-fake-white: rgb(250, 250, 250, 0.7);
  --fake-white: rgb(250, 250, 250, 0.6);

  --lux-black: rgb(34, 34, 34);
  --block-black: rgb(12, 12, 12);
  --moving-block-black: rgb(7, 7, 7);
  /* --always-moving-block-black: rgba(12, 12, 12, 0.9); */
  --always-moving-block-black: rgba(12, 12, 15, 0.9);
  /* Eigengrau */
  /* --always-moving-block-black: rgba(22, 22, 29, 0.9); */
}

html,
body {
  margin: 0;
  padding: 0;
}

.view {
  position: relative;
  min-height: calc(100vh - 536px);
}

.text,
.text-light,
.text-dark {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 3px;
}

.text {
  /* Text color difference */
  color: white;
  mix-blend-mode: difference;

  /* filter: invert(1) contrast(1);
        -webkit-filter: invert(1) contrast(1); */
}

/* For flipping cards */
.text-light {
  color: white;
}

/* For lighter bgs */
.text-dark {
  color: #212529;
}

.custom-link {
  color: inherit;
  text-decoration: none;
}

.custom-link:hover {
  color: inherit;
  text-decoration: none;
}

.gap {
  display: flex;
  margin: 2rem;
}



/* Try */
/* .f-page { */
/* position: absolute; */
/* background-color: var(--always-moving-block-black); */
/* background-color: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */


/* background: rgba(248, 212, 83, 1.0);
  background: -webkit-linear-gradient(right, rgba(248, 212, 83, 1.0), rgba(255, 93, 91, 1.0));
  background: -moz-linear-gradient(right, rgba(248, 212, 83, 1.0), rgba(255, 93, 91, 1.0));
  background: linear-gradient(to left, rgba(248, 212, 83, 1.0), rgba(255, 93, 91, 1.0)); */
/* background: linear-gradient(to right, rgba(12, 12, 15, 0.9), rgba(255, 255, 255, 1)); */
/* background: linear-gradient(to left, rgba(12, 12, 15, 0.9), rgba(12, 12, 15, 0.9) 50%, #eee 75%); */

/* background: -webkit-linear-gradient(right, rgba(248, 212, 83, 1.0), rgba(255, 93, 91, 1.0));
  background: -moz-linear-gradient(right, rgba(248, 212, 83, 1.0), rgba(255, 93, 91, 1.0));
  background: linear-gradient(to right, rgba(12, 12, 15, 0.9) 50%, #fff 50%); */
/* } */


/* Try end */
