<div class="gap" id="haecceity"></div>

<div class="generic-cont">

    <div class="gen-title-margin text-center">
        <h1 class="gen-title text">Haecceity</h1>
        <h4 class="body text">
            Self Developed Branding Methodology
        </h4>

        <h4 class="body-shortened text">
            <i>
                That property or quality of a thing by virtue of which it is unique or
                describable as ‘this (one)’
            </i>
            <br><br>
            First of its kind: Property Incarnate. Creating brand personality from the USP
        </h4>
    </div>

    <!-- Learn More -->
    <!-- <div class="gen-title-margin text-center"> -->
    <div class="text-center">
        <a class="custom-link center" [routerLink]="['/haecceity']">
            <h3 class="gen-title under-line text-light">Explore Haecceity</h3>
        </a>
    </div>

    <div class="gap"></div>

</div>