<div class="custom-navbar">
  <div class="name-flex">
    <div class="name-row-left">
      <div class="top-mar text">
        <span class="sm-fix">ASK</span>
      </div>
    </div>
    <div class="name-row-right">
      <div class="top-mar">
        <span class="text sm-fix">NAMER</span>
      </div>
    </div>
  </div>
</div>


<a class="logo-container" [routerLink]="['']" (click)="toggleNavScreen('close')">
  <img class="logo" src="../../../assets/images/logo-500.png" alt="ask namer logo">
</a>

<div class="nav-open-container">
  <div class="nav-screen-tog" (click)="toggleNavScreen('open')">
    <div class="nav-burg">
      <div class="nav-burg-l">______</div>
      <div class="nav-burg-l">______</div>
      <div class="nav-burg-l">______</div>
    </div>
  </div>
</div>


<div class="nav-close-container">
  <div class="nav-screen-tog" (click)="toggleNavScreen('close')">
    <div class="nav-sc-cross">
      &times;
    </div>
  </div>
</div>

<div class="navscreen">

  <h4 class="nav-row text">
    <a class="custom-link nav-custom-link" [routerLink]="['names']" (click)="toggleNavScreen('close')">Names</a>
  </h4>

  <!-- <h4 class="nav-row text">
    <a class="custom-link nav-custom-link" [routerLink]="['nomenclature']"
      (click)="toggleNavScreen('close')">Nomenclature</a>
  </h4> -->

  <h4 class="nav-row text">
    <a class="custom-link nav-custom-link" [routerLink]="['diagnostic']"
      (click)="toggleNavScreen('close')">Diagnostic</a>
  </h4>

  <h4 class="nav-row text">
    <a class="custom-link nav-custom-link" [routerLink]="['about-us']" (click)="toggleNavScreen('close')">About Us</a>
  </h4>

  <h4 class="nav-row text">
    <a class="custom-link nav-custom-link" [routerLink]="['connect']" (click)="toggleNavScreen('close')">Connect</a>
  </h4>

  <h4 class="nav-row text">
    <a class="custom-link nav-custom-link" [routerLink]="['insights']" (click)="toggleNavScreen('close')">Insights</a>
  </h4>

</div>
