<div class="custom-navbar">
    <div class="name-flex">
        <div class="name-row-left">
            <div class="top-mar text">
                Ask
            </div>
        </div>
        <div class="name-row-right">
            <div class="top-mar">
                <span class="text">Namer</span>
            </div>
        </div>
    </div>
</div>


<a class="logo-container" [routerLink]="['']">
    <!-- <img class="logo" src="https://i.pinimg.com/originals/54/6a/0e/546a0e66aa0a28beba6abe8b52da9c04.jpg" alt=""> -->
    <div class="logo"></div>
</a>

<div class="nav-open-container">
    <div class="nav-screen-tog" (click)="toggleNavScreen()">
        <div class="nav-burg">
            <div class="nav-burg-l">______</div>
            <div class="nav-burg-l">______</div>
            <div class="nav-burg-l">______</div>
        </div>
    </div>
</div>


<div class="nav-close-container">
    <div class="nav-screen-tog" (click)="toggleNavScreen()">
        <div class="nav-sc-cross">
            &times;
        </div>
    </div>
</div>

<div class="navscreen">

    <!-- <h4 class="nav-row text">
        <a class="custom-link" [routerLink]="['names']">Names</a>
    </h4> -->

    <h4 class="nav-row text">
        <a class="custom-link" [routerLink]="['ask-void']" (click)="toggleNavScreen()">Ask Void</a>
    </h4>

    <h4 class="nav-row text">
        <a class="custom-link" [routerLink]="['about-me']" (click)="toggleNavScreen()">About Me</a>
    </h4>

    <h4 class="nav-row text">
        <a class="custom-link" [routerLink]="['contact']" (click)="toggleNavScreen()">Contact</a>
    </h4>

</div>