<div class="gap" id="faq-landing"></div>

<div class="generic-cont">

	<div class="gen-title-margin text-center text">

		<div class="flex">

			<div class="question">
				Why should I hire a naming agency?
			</div>

			<div class="answer">
				<h5>
					No one knows about your company as much as you. But when it comes to naming, are you an

					<span class="highlight w-to-b-text"><i><b>
								expert on symbolism, branding, linguistics, and semantics?
							</b></i></span>

					<br><br>

					A name is an investment in your company’s future. And
					<span class="highlight w-to-c-text"><i>
							this investment will likely outlast your mobile,
							your office, and your most loyal employees.
						</i></span>

					<br><br>
					Not to mention,
					<span class="highlight w-to-r-text"><i>
							this name will be used more often than anything else you’ll spend money on!
						</i></span>

					<br><br>

					<a class="custom-link" [routerLink]="['/faq']"> ⮞ ⮞ ⮞ </a>

				</h5>
			</div>

		</div>

	</div>

	<div class="gap"></div>

</div>