.nav-bg::before {
  width: 100%;
  height: 4rem;

  content: "";
  background-image: url('/assets/images/blogs/bg/fakurian-design-0ODr49sXVkA-comp.jpg');
  background-size: cover;
  background-position: 0 40%;
  background-repeat: no-repeat;
  position: absolute;
  top: -6rem;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  opacity: 0.5;

  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

.generic-cont::before {
  content: "";
  background-image: url('/assets/images/blogs/bg/fakurian-design-0ODr49sXVkA-unsplash-comp.jpg');
  background-size: cover;
  background-position: 10%;
  background-repeat: no-repeat;
  position: absolute;
  top: 32px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}


.head {
  letter-spacing: 5px;
}

.gen-body {
  margin-left: 0;
  margin-right: 0;
}

.blog-body {
  margin: 0 2.5rem;
  font-size: 1.2rem;
  text-align: left;
  letter-spacing: 1px;
}

.blog-sub-head {
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .blog-body {
    margin: 0 4rem;
  }
}
