<app-page-animation></app-page-animation>

<div class="gap"></div>

<div class="nav-bg"></div>
<div class="generic-cont">

    <div class="blog-back-btn blg-bk-btn-tp text">
        <a class="custom-link text-light" [routerLink]="['/brief-blogs']">
            <- Blogs </a>
    </div>
    <div class="blog-back-btn blg-bk-btn-btm text">
        <a class="custom-link text-light" [routerLink]="['/brief-blogs']">
            <- Blogs </a>
    </div>


    <div class="gen-title-margin text-center">
        <h1 class="gen-title text">The Sound Of Success: How Brands Can Benefit From Phonetics</h1>
        <h5 class="gen-body text">Research shows that brands labelled with proper phonetics are better perceived by 65%.
        </h5>
        <p class="body-shortened text">Note: This article is based on findings from multiple research studies. It
            doesn't include any opinionated thought.</p>
    </div>

    <div class="blog-body text">

        <b class="blog-sub-head">The Boring Dictionary Stuff</b><br>
        Phonetics is the study and classification of speech sounds. Sound Symbolism is the term used for the categories
        of speech sounds and these categories can be continuums such as big/small, fast/slow, light/heavy,
        roung/angular, etc.
        <br><br><br>

        <b class="blog-sub-head">The Prologue</b><br>
        Sounds convey certain types of meaning. Several studies have demonstrated that the fit between a product
        category and brand name can affect recall, preference, and inference of the brand.
        <br><br><br>

        <b class="blog-sub-head">Caution</b><br>
        Studies show that some sounds, such as the sound [u], in the word puke, are connoted with disgust and dislike.
        <br>
        Brands should avoid these sounds altogether.
        <br><br>
        For those that don't avoid such sounds, they can assume their fate with the findings that in US Presidential
        Elections Outcomes of 1824-1992, and some other election data, candidates with unfavorable names lost 73-83% of
        the elections.
        <br><br><br>

        <b class="blog-sub-head">The Crux</b><br>
        Research shows that 65% of people prefer brands to have proper phonetics. The same insight can also be inferred
        as brands labeled with proper phonetics are 65% better perceived by the public.
        <br><br>
        Sound symbolism of categories is slightly more important than sound symbolism of attributes.
        <br><br>
        While sound symbolism affects the brand perception, it doesn’t dictate the brand voice.
        Another notable insight is that proper sound symbolism doesn't have a considerable impact on purchase
        intentions, but it does make the brand more favorable.
        <br><br><br>

        <b class="blog-sub-head">
            The Sound Of Success: Can you hear it in your brand?
        </b>

    </div>

    <div class="gap"></div>
    <div class="gap"></div>

</div>