<div class="gap"></div>

<div class="nav-bg"></div>
<div class="generic-cont generic-cont-blog">

    <app-back-button-for-blogs></app-back-button-for-blogs>

    <div class="gen-title-margin text-center">
        <h1 class="gen-title text">The Sound Of Success: How Brands Can Benefit From Phonetics</h1>
        <h5 class="gen-body text">Research shows that 65% of people prefer brands with names that have proper phonetics.
        </h5>
        <p class="body-shortened text">This article is based on findings from multiple research studies. It doesn't
            include any opinionated thoughts.</p>
    </div>

    <div class="blog-body text">

        <b class="blog-sub-head">The Boring Dictionary Stuff</b><br>
        Phonetics is the study and classification of speech sounds. Sound Symbolism refers to the connotation of speech
        sounds. These connotations are continuums such as masculine/feminine, big/small, fast/slow, light/heavy,
        round/angular, etc.
        <br><br>
        Sound symbolism is a big word. So, I'll be using phonetics in its place in the article.
        <br><br><br>

        <b class="blog-sub-head">The Prologue</b><br>
        Sounds convey certain types of meaning. Studies show that brand names affect recall, preference, and perception
        of the brand. The way to improve all these is by using phonetics according to the product category and
        attributes.
        <br><br><br>

        <b class="blog-sub-head">Caution</b><br>
        The sound [u], in the word puke, connotes disgust and dislike. There are similar sounds that have negative
        connotations.
        <br>
        Brands should avoid these sounds altogether.
        <br><br>
        If brands who don't avoid these think they are in the clear, they should think again. Candidates with
        unfavorable names lost 83% of the time in the US Presidential elections of 1824-1992. The results are consistent
        in similar studies.
        <br><br><br>

        <b class="blog-sub-head">The Crux</b><br>
        Research shows that 65% of people prefer brands that have proper phonetics. These brands are also better
        perceived by people.
        <br><br>
        Phonetics affect brand perception but it doesn’t dictate the brand voice. Furthermore, phonetics of categories
        is slightly more important than phonetics of attributes.
        <br><br>
        Some studies show that phonetics don't have a considerable impact on purchase intentions. Yet, they do make the
        brand more favorable.
        <br>
        Rationally, these points are parallel to the findings from the election studies. But empirically, the data
        contradicts.
        <br><br>
        Nonetheless, there is ample room for more studies in the field.
        <br><br><br>

        <b class="blog-sub-head">
            The Sound Of Success: Can you hear it in your brand?
        </b>

    </div>

    <div class="gap"></div>
    <div class="gap"></div>

</div>