<div class="gap"></div>

<div class="flex-3 portfolio">

    <div class="flip-card">
        <div class="flip-card-inner">

            <div class="flip-card-front">
                <h1 class="flip-title text-light">Semantic Requirements</h1>
                <!-- <hr class="flip-hr-front"> -->
                <!-- <h2 class="flip-quality text-light">Elegant & Silky<br>Yet Funky</h2> -->
            </div>

            <div class="flip-card-back">
                <!-- <h2 class="flip-subtitle text-light">The Aviary</h2> -->
                <!-- <hr class="flip-hr-back"> -->
                <h4 class="flip-body text-light">
                    Study of meaning in language
                </h4>
            </div>

        </div>
    </div>


    <div class="flip-card">
        <div class="flip-card-inner">

            <div class="flip-card-front">
                <h1 class="flip-title text-light">Research-based methods for increased Memorability </h1>
                <!-- <hr class="flip-hr-front"> -->
                <!-- <h2 class="flip-quality text-light">Elegant & Silky<br>Yet Funky</h2> -->
            </div>

            <div class="flip-card-back">
                <!-- <h2 class="flip-subtitle text-light">The Aviary</h2> -->
                <!-- <hr class="flip-hr-back"> -->
                <h4 class="flip-body text-light">
                    [Coming Soon]
                </h4>
            </div>

        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">

            <div class="flip-card-front">
                <h1 class="flip-title text-light">Auditory Specifications</h1>
                <!-- <hr class="flip-hr-front"> -->
                <!-- <h2 class="flip-quality text-light">Elegant & Silky<br>Yet Funky</h2> -->
            </div>

            <div class="flip-card-back">
                <!-- <h2 class="flip-subtitle text-light">The Aviary</h2> -->
                <!-- <hr class="flip-hr-back"> -->
                <h4 class="flip-body text-light">
                    [Coming Soon]
                </h4>
            </div>

        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">

            <div class="flip-card-front">
                <h1 class="flip-title text-light">Audience Ranking</h1>
                <!-- <hr class="flip-hr-front"> -->
                <!-- <h2 class="flip-quality text-light">Elegant & Silky<br>Yet Funky</h2> -->
            </div>

            <div class="flip-card-back">
                <!-- <h2 class="flip-subtitle text-light">The Aviary</h2> -->
                <!-- <hr class="flip-hr-back"> -->
                <h4 class="flip-body text-light">
                    [Coming Soon]
                </h4>
            </div>

        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">

            <div class="flip-card-front">
                <h1 class="flip-title text-light">Language Translation</h1>
                <!-- <hr class="flip-hr-front"> -->
                <!-- <h2 class="flip-quality text-light">Elegant & Silky<br>Yet Funky</h2> -->
            </div>

            <div class="flip-card-back">
                <!-- <h2 class="flip-subtitle text-light">The Aviary</h2> -->
                <!-- <hr class="flip-hr-back"> -->
                <h4 class="flip-body text-light">
                    [Coming Soon]
                </h4>
            </div>

        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">

            <div class="flip-card-front">
                <h1 class="flip-title text-light">Uncredited Work</h1>
                <!-- <hr class="flip-hr-front"> -->
                <!-- <h2 class="flip-quality text-light">Elegant & Silky<br>Yet Funky</h2> -->
            </div>

            <div class="flip-card-back">
                <!-- <h2 class="flip-subtitle text-light">The Aviary</h2> -->
                <!-- <hr class="flip-hr-back"> -->
                <h4 class="flip-body text-light">
                    [Coming Soon]
                </h4>
            </div>

        </div>
    </div>

</div>