<app-page-animation></app-page-animation>

<div class="gap"></div>

<div class="nav-bg"></div>
<div class="generic-cont">

    <div class="port-head">
        <div class="gen-title-margin text-center">
            <h1 class="gen-title text">Nomenclature</h1>
            <p class="gen-subtitle text">The Art & Science of Naming</p>
        </div>
    </div>

    <div class="port-body">

        <div class="flip-card">
            <div class="flip-card-inner">

                <div class="flip-card-front">
                    <h1 class="flip-title text-light">Semantic & Syntactic</h1>
                    <!-- <hr class="flip-hr-front"> -->
                    <!-- <h2 class="flip-quality text-light">Elegant & Silky<br>Yet Funky</h2> -->
                </div>

                <div class="flip-card-back">
                    <h4 class="flip-body text-light">
                        Stipluations regarding the structure and meaning of the name
                    </h4>
                </div>

            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">

                <div class="flip-card-front">
                    <h1 class="flip-title text-light">Memorable Names</h1>
                </div>

                <div class="flip-card-back">
                    <h4 class="flip-body text-light">
                        A good name can be upto 7 times more memorable than the average name
                    </h4>
                </div>

            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">

                <div class="flip-card-front">
                    <h1 class="flip-title text-light">Speech Perception</h1>
                </div>

                <div class="flip-card-back">
                    <h4 class="flip-body text-light">
                        Brand Identity reflected in the auditory perception of the Name
                    </h4>
                </div>

            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">

                <div class="flip-card-front">
                    <h1 class="flip-title text-light">Name Testing</h1>
                </div>

                <div class="flip-card-back">
                    <h4 class="flip-body text-light">
                        Test names with the an audience and pick the one with the most positive response
                    </h4>
                </div>

            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">

                <div class="flip-card-front">
                    <h1 class="flip-title text-light">Global Linguistic Screening</h1>
                </div>

                <div class="flip-card-back">
                    <h4 class="flip-body text-light">
                        Check your name against the most common languages to ensure it doesn't have any negative
                        meanings in any language
                    </h4>
                </div>

            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">

                <div class="flip-card-front">
                    <h1 class="flip-title text-light">Domain, Registration & Trademark Screening</h1>
                </div>

                <div class="flip-card-back">
                    <h4 class="flip-body text-light">
                        All names provided will have domains, registration in your region, and trademarks available<br>

                    </h4>
                </div>

            </div>
        </div>

    </div>

    <div class="gap"></div>

</div>